In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sys
import warnings
if not sys.warnoptions:
    warnings.simplefilter("ignore")

In [2]:
training_data = pd.read_csv("training_data.csv")

In [3]:
training_data.head()

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listedcount,created_at,favourites_count,verified,statuses_count,lang,status,default_profile,default_profile_image,has_extended_profile,name,bot
0,1.953701e+08,195370058,kanyejordan,NaN,This is what I do. I drop truth bombs.,NaN,2925,3,139,9/26/2010 14:45,0,False,708,en,"Status(in_reply_to_status_id=None, favorited=F...",True,False,False,Kanye Jordan,1
1,7.950000e+17,7.95E+17,astronaut_bot,NaN,Keeping an eye on astronauts coming and going....,NaN,9,0,5,Fri Nov 04 12:11:27 +0000 2016,0,False,6,en,{'created_at': 'Tue Nov 22 16:52:31 +0000 2016...,True,False,False,Astronaut Notifier,1
2,2.976541e+09,2976541239,TheRiddlerBot,"Coimbra, Portugal",Solve the riddle by replying only the name of ...,https://t.co/1v8BON9QpT,132,46,24,1/13/2015 15:10,740,False,7346,en,"Status(contributors=None, truncated=False, tex...",True,False,False,TheRiddlerBot,1
3,2.243832e+08,224383150,mlegoudes262,NaN,NaN,NaN,54,1351,0,Wed Dec 08 21:29:31 +0000 2010,2,False,6,en,"{'truncated': False, 'entities': {'user_mentio...",True,False,False,Laurie Poulsen,1
4,1.134712e+07,11347122,GavinNewsom,California,Husband & father. 49th Lt. Gov. of California ...,https://t.co/XrGnfzTDJD,1300380,24248,7089,Wed Dec 19 19:53:42 +0000 2007,4184,True,8536,en,"{u'contributors': None, u'truncated': True, u'...",False,False,False,Gavin Newsom,0

In [4]:
training_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1562 entries, 0 to 1561
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     1562 non-null   float64
 1   id_str                 1562 non-null   object
 2   screen_name            1562 non-null   object
 3   location               989 non-null    object
 4   description            1343 non-null   object
 5   url                    799 non-null    object
 6   followers_count        1562 non-null   int64
 7   friends_count          1562 non-null   int64
 8   listedcount            1562 non-null   int64
 9   created_at             1562 non-null   object
 10  favourites_count       1562 non-null   int64
 11  verified               1562 non-null   bool
 12  statuses_count         1562 non-null   int64
 13  lang                   1562 non-null   object
 14  status                 1396 non-null   object
 15  default_profile        1562 non-null   bool
 16  default_profile_image  1562 non-null   bool
 17  has_extended_profile   1515 non-null   object
 18  name                   1562 non-null   object
 19  bot                    1562 non-null   int64
dtypes: bool(3), float64(1), int64(6), object(10)
memory usage: 212.2+ KB

In [5]:
testing_data = pd.read_csv("testing_data.csv")

In [6]:
testing_data.head()

,id,id_str,screen_name,location,description,url,followers_count,friends_count,listedcount,created_at,favourites_count,verified,statuses_count,lang,status,default_profile,default_profile_image,has_extended_profile,name,bot
0,2.651040e+08,265104007,TonyFergusonXT,On a Boat,Fam Man | Fighter | Future Champ | Gamer | #Sn...,https://t.co/XfF4Xfn4Rs,59756,1134,490,3/13/2011 1:19,7356,True,8334,en,"Status(contributors=None, truncated=True, text...",False,False,False,Tony Ferguson,0
1,2.831214e+09,2831214083,EveryFinnishNo,"Helsinki, Finland",A bot by @hugovk to tweet every Finnish number...,https://t.co/mAixJrdlV1,172,69,21,Wed Oct 15 07:01:27 +0000 2014,5,False,1065316,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,Every Finnish Number,1
2,2.568854e+09,2568853903,botlang,"Botland, Great Bottain",bot-generated conlang // by @dbaker_h,http://t.co/8aN55YvLJg,98,2,19,Sun Jun 15 11:08:27 +0000 2014,0,False,3621,en,"{u'contributors': None, u'truncated': False, u...",False,False,False,botlang,1
3,1.431117e+09,"""1431116617""","""DuniaOnePiece""","""Indonesia""","""Dunia Tempat Berkumpulnya Para Pecinta One Pi...","""https://t.co/5HW8AvKhsM""",14917,227,27,"""Wed May 15 17:39:52 +0000 2013""",919,False,53398,"""en""","{\r ""created_at"": ""Fri Mar 10 02:18:04 +0...",False,False,False,"""Dunia One Piece""",1
4,1.838452e+07,18384521,jonrafman,NaN,Rarely has reality needed so much to be imagined.,http://t.co/uC0ixzBjnh,7011,315,173,12/26/2008 4:40,1820,False,631,en,"Status(contributors=None, truncated=False, tex...",False,False,False,Jon Rafman,0

In [7]:
testing_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 670 entries, 0 to 669
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   id                     670 non-null    float64
 1   id_str                 670 non-null    object
 2   screen_name            670 non-null    object
 3   location               431 non-null    object
 4   description            568 non-null    object
 5   url                    376 non-null    object
 6   followers_count        670 non-null    int64
 7   friends_count          670 non-null    int64
 8   listedcount            670 non-null    int64
 9   created_at             670 non-null    object
 10  favourites_count       670 non-null    int64
 11  verified               670 non-null    bool
 12  statuses_count         670 non-null    int64
 13  lang                   670 non-null    object
 14  status                 607 non-null    object
 15  default_profile        670 non-null    bool
 16  default_profile_image  670 non-null    bool
 17  has_extended_profile   639 non-null    object
 18  name                   670 non-null    object
 19  bot                    670 non-null    int64
dtypes: bool(3), float64(1), int64(6), object(10)
memory usage: 91.1+ KB

In [8]:
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import f1_score

In [9]:
def Performance(actual_value , predicted_value):
    accuracy = accuracy_score(actual_value , predicted_value) * 100
    precision = precision_score(actual_value , predicted_value) * 100
    recall = recall_score(actual_value , predicted_value) * 100
    f1 = f1_score(actual_value , predicted_value, average='weighted')
    print('Accuracy is {:.4f}%\n Precision is {:.4f}%\n Recall is {:.4f}%\nF1 Score is {:.4f}\n'.format(accuracy, precision, recall, f1))

In [10]:
class twitter_bot(object):
    def __init__(self):
        pass

    def perform_train_test_split(df):
        msk = np.random.rand(len(df)) < 0.75
        train, test = df[msk], df[~msk]
        X_train, y_train = train, train.iloc[:,-1]
        X_test, y_test = test, test.iloc[:, -1]
        return (X_train, y_train, X_test, y_test)

    def bot_prediction_algorithm(df):
        train_df = df.copy()
        # converting id to int
        train_df['id'] = train_df.id.apply(lambda x: int(x))
        bag_of_words_bot = r'BOT|Bot|bot|b0t|cannabis|tweet me|mishear|follow me|updates every|gorilla|yes_ofc|forget' \
                           r'expos|kill|clit|bbb|butt|fuck|XXX|sex|truthe|fake|anony|free|virus|funky|RNA|kuck|jargon' \
                           r'nerd|swag|jack|bang|bonsai|chick|prison|paper|pokem|xx|freak|ffd|dunia|clone|genie|bbb' \
                           r'ffd|onlyman|emoji|joke|troll|droop|free|every|wow|cheese|yeah|bio|magic|wizard|face'


        # converting verified into vectors
        train_df['verified'] = train_df.verified.apply(lambda x: 1 if ((x == True) or x == 'TRUE') else 0)
        # check if the name contains bot or screenname contains b0t
        condition = ((train_df.name.str.contains(bag_of_words_bot, case=False, na=False)) |
                     (train_df.description.str.contains(bag_of_words_bot, case=False, na=False)) |
                     (train_df.screen_name.str.contains(bag_of_words_bot, case=False, na=False)) |
                     (train_df.status.str.contains(bag_of_words_bot, case=False, na=False))
                     )  # these all are bots
        predicted_df = train_df[condition]  # these all are bots
        predicted_df.bot = 1
        predicted_df = predicted_df[['id', 'bot']]

        # check if the user is verified
        verified_df = train_df[~condition]
        condition = (verified_df.verified == 1)  # these all are nonbots
        predicted_df1 = verified_df[condition][['id', 'bot']]
        predicted_df1.bot = 0
        predicted_df = pd.concat([predicted_df, predicted_df1])

        # check if description contains buzzfeed
        buzzfeed_df = verified_df[~condition]
        condition = (buzzfeed_df.description.str.contains("buzzfeed", case=False, na=False))  # these all are nonbots
        predicted_df1 = buzzfeed_df[buzzfeed_df.description.str.contains("buzzfeed", case=False, na=False)][['id', 'bot']]
        predicted_df1.bot = 0
        predicted_df = pd.concat([predicted_df, predicted_df1])

        # check if listed_count>16000
        listed_count_df = buzzfeed_df[~condition]
        listed_count_df.listedcount = listed_count_df.listedcount.apply(lambda x: 0 if x == 'None' else x)
        listed_count_df.listedcount = listed_count_df.listedcount.apply(lambda x: int(x))
        condition = (listed_count_df.listedcount > 16000)  # these all are nonbots
        predicted_df1 = listed_count_df[condition][['id', 'bot']]
        predicted_df1.bot = 0
        predicted_df = pd.concat([predicted_df, predicted_df1])
        #remaining
        predicted_df1 = listed_count_df[~condition][['id', 'bot']]
        predicted_df1.bot = 0 # these all are nonbots
        predicted_df = pd.concat([predicted_df, predicted_df1])
        return predicted_df

    def get_predicted_and_true_values(features, target):
        y_pred, y_true = twitter_bot.bot_prediction_algorithm(features).bot.tolist(), target.tolist()
        return (y_pred, y_true)

    def get_accuracy_score(df):
        (X_train, y_train, X_test, y_test) = twitter_bot.perform_train_test_split(df)
        # predictions on training data
        y_pred_train, y_true_train = twitter_bot.get_predicted_and_true_values(X_train, y_train)
        Performance(y_pred_train, y_true_train)

if __name__ == '__main__':
    train_ = pd.read_csv('training_data.csv')
    test_ = pd.read_csv('testing_data.csv')

    train_.drop(['id_str', 'location', 'url', 'created_at', 'lang', 'has_extended_profile'],axis=1,inplace=True)
    test_.drop(['id_str', 'location', 'url', 'created_at', 'lang', 'has_extended_profile'],axis=1,inplace=True)  
    predicted_df = twitter_bot.bot_prediction_algorithm(test_)   
    twitter_bot.get_accuracy_score(train_)

Accuracy is 50.6460%
 Precision is 44.7706%
 Recall is 47.2868%
F1 Score is 0.5075